.mainContainer {
  margin-left: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 60px);
  box-sizing: border-box;
}

.body {
  flex: 1;
  display: flex;
  min-height: 0;
  overflow: hidden;
}

.sidebarMain {
  width: 200px;
  flex-shrink: 0;
}

.gridWrapper {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  box-sizing: border-box;
}

.infoBoxesContainer {
  width: 100%;
  position: relative;
}
.gridItem {
  position: relative;
  border-radius: 18px;
  overflow: visible;
  background-color: inherit;

  box-sizing: border-box;
}
.react-resizable-handle.react-resizable-handle-se::after {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 14px;
  height: 14px;
  background-image: linear-gradient(to bottom right, white 2px, transparent 2px),
    linear-gradient(to bottom right, white 2px, transparent 2px),
    linear-gradient(to bottom right, white 2px, transparent 2px);
  background-position: 0 0, 4px 4px, 8px 8px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.react-grid-item {
  overflow: visible !important;
}

.react-grid-item,
.react-resizable {
  position: relative !important;
  overflow: visible !important;
}
